



body{
    background-image: url("assets/desktop.png");
}

.playerLogo{
    border: none;
    background-color: unset;
}
.players{
    font-size: 2vw;
    color: #ffffff;
}
.players > div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.score{
    background-color: #fff;
    width: 200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    box-shadow: 0px 0px 10px white;
}

.gameBottom{
    justify-content: space-around;
}
